<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define propriedades para facilitar a configuração -->
    <property name="LOGSTASH_HOST" value="${LOGSTASH_HOST:-localhost}" />
    <property name="LOGSTASH_PORT" value="${LOGSTASH_PORT:-5044}" />

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <!-- Define o endereço e porta do Logstash -->
        <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- Você pode customizar os campos aqui, se necessário -->
            <customFields>{"app_name":"wallet-service"}</customFields>
        </encoder>
    </appender>

    <!-- Appender para logs no console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuração do log root -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOGSTASH" />
    </root>

</configuration>
